<body>
    <div class="contenedor">
        <section class="tarjetas">
            <div class="container">
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <img src="assets\Catalogo.png">
                            <h3 class="texto">Catalogo</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <a routerLink="/Catalogo"> Ingresar </a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <img src="assets\Contacto.png">
                            <h3 class="texto">Contacto</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <a routerLink="/Contacto"> Ingresar </a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <img src="assets\Materias-Primas.png">
                            <h3 class="texto">Materia prima</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <a routerLink="/Materia"> Ingresar </a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <img src="assets\Personal.png">
                            <h3 class="texto">Personal</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <a routerLink="/Personal"> Ingresar </a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <img src="assets\Produccion.png">
                            <h3 class="texto">Producción</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <a routerLink="/Produccion"> Ingresar </a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <img src="assets\Producto.png">
                            <h3 class="texto">Producto</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <a routerLink="/Producto"> Ingresar </a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <img src="assets\Produccion-Materia.png">
                            <h3 class="texto">Producción por materia prima</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <a routerLink="/Productoxmateriaprima"> Ingresar </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>